.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 28px 27px 31px 27px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  .header {
    padding: 28px 60px 31px 60px;
  }
}

@media (min-width: 920px) {
  .header {
    padding: 41px 60px 40px 60px;
  }
}

@media (min-width: 1000px) {
  .header {
    padding: 45px 0 40px 0;
  }
}