.header__link {
  display: block;
  transition: opacity 0.3s;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
}