.places__remove-btn {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19px;
  background-image: url(trash.svg);
  background-size: 100%;
  background-repeat: no-repeat;   
}

.places__remove-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}