.form__button_dark {
  width: 358px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}