.form__button {
  display: block;
  width: 100%;
  min-height: 46px;
  background: #000;
  border-radius: 2px;
  border: 0;
  color: #fff;
  margin: 24px auto 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  transition: opacity 0.3s;
}

.form__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (min-width: 800px) {
  .form__button {
    font-size: 18px;
    line-height: 22px;
    min-height: 50px;
    margin: 27px auto 0;
  }
}