.form__button_disabled {
  background-color: transparent;
  color: #000000;
  outline: 1px solid #000000;
  opacity: 0.2;
}

.form__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
  pointer-events: none;
}